<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="number" v-model="num1">
        <input type="number" v-model="num2">
        <button @click="suma">Sumar</button>
        <p>{{result}}</p>
        <p>{{par}}</p>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    num1:0,
                    num2:0,
                    result:0,
                    par:"",
                };
            },
            methods: {
                suma(){
                    this.result = this.num1 + this.num2;
                    if(this.result % 2 == 0){
                        this.par = "Numero par"
                    }else{
                        this.par = "Numero impar"
                    }

                }
            },
        }).mount("#app");
    </script>
</body
</html>
